<div class='banner_1'>
	<h1>Test your drawing or your guessing skills!</h1>
</div>
<div class='image_div_container'>
	<%= image_tag("phone.png", :alt => "rss feed") %>
	<%= image_tag("cat.png", :alt => "rss feed") %>
	<%= image_tag("car.png", :alt => "rss feed") %>
	<h2>Is it a laptop? a dog? a bus?</h2>
</div>

<div class='banner_1 b2'>
	<h1>Give it a try! Invite a friend and see whose better</h1>
</div>
<div class='image_div_container'>
	<%= image_tag("mnts.png", :alt => "rss feed") %>
	<%= image_tag("baseball.png", :alt => "rss feed") %>
	<%= image_tag("shirt.png", :alt => "rss feed") %>
	<h2>Make artworks worthy of accolades!</h2>
</div>
<div class='banner_1 b3'>
	<h1>Create a game then draw the keyword until its guessed by your opponent(s)</h1>
</div>