<h1 class="header1">Guess what the drawing is </h1>

<div class="wrapper">
    <img id="canvasimg" style="top:20%;left:25%;display:none;">

    <div class='form_wrapper form_clear'>
      <%= form_with(url: "/games/guess", method: "post") do %>
          <%= label_tag(:guess, "Guess") %>
          <%= text_field_tag(:guess) %>
          <%= hidden_field_tag 'game', current_user.game.id %>
          <%= submit_tag("Guess") %>
      <% end %>

    </div>

</div>







<script type="text/javascript">

    function save() {
        document.getElementById("canvasimg").style.border = "2px solid";
        $.ajax({
			  type: "POST",
			  url: "/user/get_op_url",
			  dataType:"json",
			  data: {u:gon.user },
			  success:function(data) {
			    document.getElementById("canvasimg").src = data.responseText;
       			document.getElementById("canvasimg").style.display = "inline-block";
			    return false;
			  },
			  error:function(data) {
			    document.getElementById("canvasimg").src = data.responseText;
       			document.getElementById("canvasimg").style.display = "inline-block";
			    return false;
			  }
		});
    }
    
    function check() {
            $.ajax({
              type: "POST",
              url: "/check",
              dataType:"json",
              data: {},
              success:function(data) {
                console.log("good");
                return false;
              },
              error:function(data) {
                console.log(data.responseText);  
                if (data.responseText == 'completed') {
                    window.location ="/games/"+gon.id+"/review";
                };              
                return false;
              }
            });
    }

 setInterval(function(){ check(); }, 500);
 setInterval(function(){ save(); }, 500);
</script>
